<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLORES DE COLORINES</title>
</head>
<body>
    {% include 'paginas/menu.html' %}    
    <h1> COLORINES </h1>
    <form method="post">
        {% csrf_token %}
        Seleccione un color:
        <select name="selectcolor">
        {% for fila in listacolores %}
        <option value="{{ fila.valor }}">
            {{ fila.color }}
        </option>"
        {% endfor %}
        </select>
        <button> Mostrar selección</button>
        {% if seleccion %}
    <h2 style="color: {{seleccion}};">El color que ha seleccionado es : {{ seleccion }}</h2>
        {% endif %}
    </form>
</body>
</html>