<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJEMPLO.HTML</title>
</head>
<body>
    <h1> Ejemplo html</h1>
    <form>
        Nombre: <input type="text" name="cajanombre"/><br/>
        Número: <input type="number" name="cajanumero"/><br/>
        Fecha: <input type="date" name="cajafecha"/><br/>
        Selecciona: <select name="colores">
            <option value="blue">Azul</option>
            <option value="green">Verde</option>
            <option value="yellow">Amarillo</option>
        </select>
        <button>Aceptar</button>
    </form>


                <a href="/"> Ir a index.html </a>
</body>
</html>