<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Menú Formularios</h1>
    <ul>
        <li>
            <a href="/ejemplo"> Ir a ejemplo.html </a><br/>
        </li>
        <li>
            <a href="/saludo"> Ir a saludo.html </a><br/>
        </li>
        <li>
            <a href="/sumarnumeros"> Ir a sumarnumeros.html </a><br/>
        </li>
        <li>
            <a href="/parimpar"> Ir a parimpar.html </a><br/>
        </li>
        <li>
            <a href="/collatz"> Ir a collatz.html </a><br/>
        </li>
    </ul>
</body>
</html>