    <div>
        <a href="/"> Volver a Index</a>  |
        <a href="/ejemplo"> Ir a ejemplo.html </a>  |
        <a href="/saludo"> Ir a saludo.html </a>  |
        <a href="/sumarnumeros"> Ir a sumarnumeros.html </a>  |
        <a href="/parimpar"> Ir a parimpar.html </a>  |
        <a href="/collatz"> Ir a collatz.html </a>  |
        <a href="/multiplicar"> Ir a multiplicar.html </a>  |
        <a href="/deportes"> Ir a deportes.html </a>  |
        <a href="/colores"> Ir a colores.html </a>  |
    </div>