<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saludo.html</title>
</head>
<body>
    {% include 'paginas/menu.html' %}
    <h1> Saludando desde saludo.html</h1>
    <form method="post">
        {% csrf_token %}
        Introduzca su nombre:
        <input type="text" name="cajanombre"/>
        <button>Enviar</button>
    </form>    
    <h2> Su nombre es ........ {{nombre}} </h2><br/>

    <a href="/">Volver a index.html</a> </href>

</body>
</html>