<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Colores</title>
</head>
<body>
    <h1> COLORES GET </h1>
    <a href="http://127.0.0.1:8000/aplicacion/colores?micolor=blue">Azul</a><br/>
    <a href="http://127.0.0.1:8000/aplicacion/colores?micolor=green">Verde</a><br/>
    <a href="http://127.0.0.1:8000/aplicacion/colores?micolor=red">Rojo</a><br/>
    <a href="http://127.0.0.1:8000/aplicacion/colores">Sin color</a><br/>    
    <h2>
        El color recibido es {{ color }}
    </h2>
</body>
</html>