<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color:fuchsia;
        }
        img {
            width: 150px;
            height: 100px;
        }
    </style>
</head>
<body>
    <a href="https://as.com">Navegar...</a><br/>
    <a href="./prueba">Ir a prueba</a><br/>
    <a href="./peliculas">Peliculas</a>
    <img src="https://assets-es.imgfoot.com/media/cache/642x382/mbappe-real-talavera.jpg"/>
    <img src=""/>
    Esto es texto, no se rompe....
    <h1>Mi plantilla django</h1>
    <h3>Template con dibujos</h3>
</body>
</html>